<div class="w-full mt-4 text-gray-200">
  <table class=" text-xs bg-gray-800 rounded-md w-full">
    <thead>
      <tr class="text-left capitalize border-b border-gray-500">
        <th class="px-4 py-3"> complete</th>
        <th class="px-4 py-3"> Completed in</th>
        <th class="px-4 py-3"> Name</th>
        <th class="px-4 py-3"> priority</th>
        <th class="px-4 py-3"> due in</th>
      </tr>
    </thead>
    <tbody>
      <% @project.tasks.incomplete_first.each do |task| %>
        <tr class=" border-b border-gray-500 capitalize <%= "line-through text-orange-600" if task.completed?%> ">
          <td class="px-4 py-3 ">
            <%= form_with model: [@project, task] do |form| %>
              <%= form.check_box :completed, class: "cursor-pointer", onchange:"this.form.requestSubmit()" %>
            <% end %>
          </td>
          <td class="px-4 py-3"> <%= task.completed? ? "#{time_ago_in_words(task.completed_at)} ago": "Incomplete" %>  </td>
          <td class="px-4 py-3"><%= task.name %></td>
          <td class="px-4 py-3"> <%= task.priority %></td>
          <td class="px-4 py-3"> <%= distance_of_time_in_words(Time.current, task.due_date) %></td>
          <td class="py-3">
            <%= link_to  edit_project_task_path(@project, task), data: { turbo: true, turbo_frame: :modal} do%>
              <%= inline_svg_tag("edit.svg") %>
            <% end %>
          </td>
          <td class="p py-3">
            <%= button_to project_task_path(@project, task), method: :delete,data:{turbo_confirm:("Are You Sure?")} do %>
              <%= inline_svg_tag("delete.svg") %>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>