<div class="w-full mt-4 text-gray-200">
  <table class="bg-gray-800 rounded-md w-full">
    <thead>
      <tr class="text-left uppercase border-b border-gray-500">
        <th class="px-4 py-3"> Name</th>
        <th class="px-4 py-3"> Due Date</th>
        <th class="px-4 py-3"> Priority</th>
        <th class="px-4 py-3"> Completed</th>
      </tr>
    </thead>
    <tbody>
      <% @project.tasks.each do |task| %>
        <tr class=" border-b border-gray-500 capitalize">
          <td class="px-4 py-3"><%= task.name %></td>
          <td class="px-4 py-3"> <%= task.due_date %></td>
          <td class="px-4 py-3"> <%= task.priority %></td>
          <td class="px-4 py-3"> <%= task.completed_at %></td>
          <td class="py-3">
            <%= link_to  edit_project_task_path(@project, task), data: { turbo: true, turbo_frame: :modal} do%>
              <%= inline_svg_tag("edit.svg") %>
            <% end %>
          </td>
          <td class="p py-3">
            <%= button_to project_task_path(@project, task), method: :delete,data:{turbo_confirm:("Are You Sure?")} do %>
              <%= inline_svg_tag("delete.svg") %>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>