<div class="text-gray-200 p-4 w-full">
  <%= render "add_project_form" %>
  <div class="w-full mt-4">
    <table class="bg-gray-800 rounded-md w-full">
      <thead>
        <tr class="text-left uppercase border-b border-gray-500">
          <th class="px-4 py-3"> Name</th>
          <th class="px-4 py-3"> Status</th>
        </tr>
      </thead>
      <tbody>
        <% @projects.each do |project| %>
          <tr class=" border-b border-gray-500 capitalize">
            <td class="px-4 py-3"><%= project.name %></td>
            <td class="px-4 py-3"> 80%</td>
            <td class="py-3">
              <%= link_to  edit_project_path(project), data: { turbo: true, turbo_frame: :modal} do%>
                <%= inline_svg_tag("edit.svg") %>
              <% end %>
            </td>
            <td class="py-3">
              <%= link_to  project_path(project) do%>
                <%= inline_svg_tag("view.svg") %>
              <% end %>
            </td>
            <td class="p py-3">
              <%= button_to project_path(project), method: :delete,data:{turbo_confirm:("Are You Sure?")} do %>
                <%= inline_svg_tag("delete.svg") %></td>
            <% end %>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
