<div class="h-screen bg-gray-200 flex items-center justify-center ">
  <div class="md:max-w-md w-full bg-gray-100 shadow-lg p-8 rounded-lg">
    <h2><%= t "devise.invitations.edit.header" %></h2>
    <%= form_for(resource, as: resource_name, url: invitation_path(resource_name), html: { method: :put }) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>
      <%= f.hidden_field :invitation_token, readonly: true %>
      <% if f.object.class.require_password_on_accepting %>
        <div class="field">
          <%= f.label :password %><br />
          <%= f.password_field :password %>
        </div>
        <div class="field">
          <%= f.label :password_confirmation %><br />
          <%= f.password_field :password_confirmation %>
        </div>
      <% end %>
      <div class="actions mt-4 ">
        <%= f.submit t("devise.invitations.edit.submit_button"), class:"cursor-pointer  bg-orange-600 py-3 px-4  text-white font-semibold  rounded-lg shadow-md hover:bg-orange-700"  %>
      </div>
    <% end %>
  </div>
</div>