<!DOCTYPE html>
<html>
  <head>
    <title>ProjectTask</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>
  <body>
    <main class="">
      <%= render "shared/flash" %>
      <div data-controller= "toggle" class="h-screen bg-gray-900">
        <%= render "dashboard/admin_nav" %>
        <div class="flex h-full">
          <%= render "dashboard/sidebar" %>
          <%= yield %>
          <%= turbo_frame_tag :modal %>
        </div>
      </div>
    </main>
  </body>
</html>
